	Options +FollowSymlinks
	RewriteEngine ON
	RewriteOptions Inherit

	RewriteCond %{SERVER_PORT} 80 
		RewriteRule ^(.*)$ https://webapp.fabulexie.fr/$1 [R,L]

 	# -- Redirection to https (optional):
	# If you need this, uncomment the next two commands
	# RewriteCond %{HTTPS} !on
  	# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
	# --

	RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
	RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d

	RewriteRule ^.*$ - [NC,L]
	RewriteRule ^(.*) index.html [NC,L]
