div.mainReaderPage {
	position: relative;
	div.readerContainer {
		width:100%;
		max-width:400px;
		height: calc(100vh - 300px);
		max-height:700px;
		min-height: 430px;
		display: block;
		margin: auto;
		color:#40200B;
		background:#f9f5eb;
		border:1px solid #bcac9a;
		padding:0px 20px;

		iframe.onlinereading {
			width:100%;
			height:100%;
			margin:0;
			border:0;
		}
	}

	div.readerPagination {
		width:100%;
		max-width:400px;
		display: block;
		margin: auto;
		background: #d7c3a7;
		color: #553322;
		i.navBtn {
			width: 25%;
			text-align: center;
			font-size: 2em;
		}
		span.pages {
			width: 50%;
			text-align: center;
			font-size: 1em;
			display: inline-block;
			vertical-align: super;
		}
	}
	
	div.options {
	    position: absolute;
		right: 0px;
		width: 40px;
		top: 0px;
	}
}
