<div id="wrapper">
      <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion {{sideBarClass}}" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <div class="sidebar-brand d-flex align-items-center justify-content-center">
			<div class="sidebar-brand-icon rotate-n-15"><i class="fa fa-home"></i></div>
			<div class="sidebar-brand-text mx-3">{{title}}</div>
      </div>

      <hr class="sidebar-divider">

      <!-- Divider -->
      <div class="sidebar-heading" *ngIf="authService.user.admin || authService.user.tutor">
        Admin
      </div>
      <!-- Nav Item - Dashboard -->
      <li [ngClass]="this.router.url === '/users'?'nav-item active':'nav-item'" *ngIf="authService.user.admin">
			<a class="nav-link" routerLink="/users" id="navLinkUserList">
				<i class="fas fa-users"></i>
				<span>List Users</span>
			</a>
      </li>

      <li [ngClass]="this.router.url === '/adduser'?'nav-item active':'nav-item'" *ngIf="authService.user.admin">
			<a class="nav-link" routerLink="/adduser" >
				<i class="fas fa-user-plus"></i>
				<span>Add User</span>
			</a>
      </li>

      <li [ngClass]="this.router.url === '/usersSharing'?'nav-item active':'nav-item'" *ngIf="authService.user.admin || authService.user.tutor">
			<a class="nav-link" routerLink="/usersSharing" >
				<i class="fas fa-envelope-open-text"></i>
				<span>Sharing users</span>
			</a>
      </li>
	  
	        <!-- Nav Item - Dashboard -->
      <li [ngClass]="this.router.url === '/invitations'?'nav-item active':'nav-item'" *ngIf="authService.user.admin || authService.user.tutor">
			<a class="nav-link" routerLink="/invitations" >
				<i class="fas fa-mail-bulk"></i>
				<span>List Invitations</span>
			</a>
      </li>

      <li [ngClass]="this.router.url === '/inviteUser'?'nav-item active':'nav-item'" *ngIf="authService.user.admin || authService.user.tutor">
			<a class="nav-link" routerLink="/inviteUser" >
				<i class="fas fa-envelope-open-text"></i>
				<span>Send invitation</span>
			</a>
      </li>
		
      <!-- Divider -->
      <hr class="sidebar-divider" *ngIf="authService.user.admin">

      <!-- Heading -->
      <div class="sidebar-heading"*ngIf="authService.user.admin">
        Config
      </div>

      <li [ngClass]="this.router.url === '/config'?'nav-item active':'nav-item'"*ngIf="authService.user.admin">
			<a class="nav-link" routerLink="/config" >
				<i class="fas fa-cogs"></i>
				<span>Configurations</span>
			</a>
      </li>
	  
      <!-- Divider -->
      <hr class="sidebar-divider" *ngIf="authService.user.admin">

      <!-- Heading -->
      <div class="sidebar-heading">
			Spaces
      </div>

	  <li *ngFor="let space of docService.spaces" [ngClass]="(this.router.url === '/browse' && docService.currentSpace && docService.currentSpace.space.id == space.space.id)?'nav-item active':'nav-item'">
			<a class="nav-link" (click)="openSpace(space)" >
				<i class="fas fa-book-reader"></i>
				<span>{{space.space.name}}</span>
			</a>
      </li>
	  
	  <!-- Heading -->
      <hr class="sidebar-divider" *ngIf="docService.sharedWithMeSpaces && docService.sharedWithMeSpaces.length>0">
      <div class="sidebar-heading" *ngIf="docService.sharedWithMeSpaces && docService.sharedWithMeSpaces.length>0">
			Spaces shared with me
      </div>

	  <li *ngFor="let space of docService.sharedWithMeSpaces" [ngClass]="(this.router.url === '/browse' && docService.currentSpace && docService.currentSpace.space.id == space.space.id)?'nav-item active':'nav-item'">
			<a class="nav-link" (click)="openSpace(space)" >
				<i class="fas fa-book-reader"></i>
				<span>{{space.space.name}}</span>
			</a>
      </li>
	  
	  	  <!-- Heading -->
      <hr class="sidebar-divider" *ngIf="authService.user.admin || authService.user.tutor">
      <div class="sidebar-heading" *ngIf="authService.user.admin || authService.user.tutor">
			Spaces I share
      </div>

	  <li *ngFor="let space of docService.sharingSpaces" [ngClass]="(this.router.url === '/browse' && docService.currentSpace && docService.currentSpace.space.id == space.space.id)?'nav-item active':'nav-item'">
			<a class="nav-link" (click)="openSpace(space)" >
				<i class="fas fa-book-reader"></i>
				<span>{{space.space.name}}</span>
			</a>
      </li>
	  
	  <li *ngIf="authService.user.admin || authService.user.tutor" class="nav-item">
			<a class="nav-link" data-toggle="modal" data-target="#addSharingSpaceModal">
				<i class="fas fa-plus"></i>
				<span>Create a space to share</span>
			</a>
      </li>
		


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" (click)="toggle()"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->
	
	<div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-2 static-top shadow">


          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" (click)="toggle()">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">



            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-inline text-gray-600 small">{{authService.user.firstname}} {{authService.user.lastname}}</span>
               
				<i class="far fa-user-circle icon-profile" *ngIf="!authService.user.safePhoto"></i>
				<img class="icon-profile" *ngIf="authService.user.safePhoto" [src]="authService.user.safePhoto"/>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" routerLink="/profile">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
				<a class="dropdown-item" routerLink="/settings">
                  <i class="fas fa-book fa-sm fa-fw mr-2 text-gray-400"></i>
                  Reader profiles
                </a>
                <div class="dropdown-divider"></div>
                <a id="logoutBtn" class="dropdown-item" (click)="logout()">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
			<router-outlet></router-outlet>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

	  <app-footer></app-footer>

    </div>
 </div> 

<div class="modal fade" id="addSharingSpaceModal" tabindex="-1" role="dialog" aria-labelledby="Add space to share" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add space to share</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
            </div>
            <div class="modal-body">	
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<i class="fas fa-plus"></i>
						</span>
					</div>
					<input type="text" [(ngModel)]="newSpaceName" class="form-control" placeholder="Space name"/>
				</div>
				
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				
				<button type="button" class="btn btn-primary btn-icon-split" [disabled]="!newSpaceName || newSpaceName.length<3" data-dismiss="modal" (click)="createSharingSpace()" onclick="$('#addSharingSpaceModal').modal('hide');"> 
					<span class="icon text-white-50">
						<i class="fas fa-plus"></i>
					</span>
					<span class="text"> Add Space</span>
				</button>
            </div>
        </div>
    </div>
</div>